<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148549778930-08jt6j514qo0k65ggl7aruoepd8e7tj3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148549778930-08jt6j514qo0k65ggl7aruoepd8e7tj3</string>
	<key>API_KEY</key>
	<string>AIzaSyDhNxRnDQzWqsO3fFMOVjX68JDX0e2klAs</string>
	<key>GCM_SENDER_ID</key>
	<string>148549778930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tk.pitchblack.messages2</string>
	<key>PROJECT_ID</key>
	<string>messages-2-b0ebe</string>
	<key>STORAGE_BUCKET</key>
	<string>messages-2-b0ebe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148549778930:ios:096c2543eb640635733f6b</string>
</dict>
</plist>